.board {
  width: 40vw;
  height: 40vw;
  max-width: 60vh;
  max-height: 60vh;
  min-width: 300px;
  min-height: 300px;
  border: 3px solid lightcoral;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
